<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="FlipkartTests.Listeners"/>
</listeners>

  <test name="Validating Search">
    <classes>
      <class name="FlipkartTests.SearchPageTest"/>
          </classes>
      </test>
      
    <test name="Validating title in the Page">
         <classes>
      <class name="FlipkartTests.validationTest"/>
       </classes>
      </test>

   <!-- Test -->
</suite> <!-- Suite -->
